Repository o-cup/o-cup-web, pull requests merged in 2022-07, with the labels that each got.

#6 Feat(header): Header, Content 퍼블리싱 완료
  package-lock.json
  package.json
  public/index.html
  src/components/EventList/EventListItem.tsx
  src/components/EventList/index.tsx
  src/components/Filter/Bias.tsx
  src/components/Filter/BiasList.tsx
  src/components/Filter/SearchInput.tsx
  src/components/Filter/index.tsx
  src/components/header/DateSelector.tsx
  src/components/layout/Header.tsx
  src/pages/Main.tsx
  src/styles/eventListStyle.ts
  src/styles/filterStyle.ts
  src/styles/gloabalStyle.ts
  src/styles/headerStyle.ts
  src/styles/layoutStyle.ts
Labels: feature, style

#22 feat(17): 카카오맵 api 연동
  package-lock.json
  public/index.html
  src/components/Location/Map.tsx
  src/components/Location/index.tsx
Labels: feature

#23 feat(16): 상세페이지 이미지 슬라이더 구현
  package-lock.json
  package.json
  src/components/EventMain/index.tsx
  src/pages/Detail.tsx
  src/styles/eventMainStyle.ts
Labels: feature

#24 feat(21): Footer 컴포넌트 작성
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/styles/headerStyle.ts
  src/styles/layoutStyle.ts
Labels: feature, style

#25 feat(18): 지역 선택 컴포넌트 구현
  package-lock.json
  package.json
  src/components/Filter/BottomSheet.tsx
  src/components/Filter/DistrictSelector.tsx
  src/components/Filter/data.ts
  src/components/Filter/index.tsx
  src/components/Filter/react-spring-bottom-sheet.css
  src/components/Filter/styles.css
  src/index.tsx
  src/pages/Main.tsx
  src/styles/districtSelectorStyle.ts
  src/styles/filterStyle.ts
  src/styles/gloabalStyle.ts
Labels: feature, style

#32 fix(31): 특전 목록 스타일 수정, 계정명에 @ 추가, 해시태그 수정
  src/components/EventList/EventListItem.tsx
  src/components/EventMain/index.tsx
  src/components/TwitterInfo/index.tsx
  src/pages/Main.tsx
  src/styles/goodsInfoStyle.ts
Labels: bug
